<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>>>Handle: <strong>krslynx</strong></li>
          <li><a href="mailto:{{ site.email }}">Contact</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa fa-github"></span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          {% endif %}
		  
          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          {% endif %}
		  
          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="fa fa-instagram"></span>
            </a>
          </li>
          {% endif %}

          {% if site.stackex_username %}
          <li>
            <a href="https://stackexchange.com/{{ site.instagram_username }}">
              <span class="fa fa-stack-exchange"></span>
            </a>
          </li>
          {% endif %}
		  
          {% if site.spotify_username %}
          <li>
            <a href="https://spotify.com/{{ site.instagram_username }}">
              <span class="fa fa-spotify"></span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>
  <!-- <img id="wheel" width="100%" class="fade"></img> -->
</footer>
