<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
	</div>
    <div class="page-content">

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src={{ "/js/vendor/jquery-1.9.1.min.js" | prepend: site.baseurl }}><\/script>')</script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	
  </body>

</html>
